<ion-view view-title="MFPF Test and Debug">
  <ion-content class="padding">
    <h2>Ionic + MFP</h2>
    
    <button ng-click="getPic()" class="button button-block button-positive">
      Get Picture
    </button>
    <div class="item item-image" >
    <img id="myImage">
    </div>
    <button ng-click="callAdapter()" class="button button-block button-positive">
      Call Adapter
    </button>
    <button ng-click="sendAnalytics()" class="button button-block button-positive">
      Send Analytics
    </button>

  </ion-content>
</ion-view>